body {
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/** Menu */
nav {
    background-color: #000000;
    width: 100%;
    position: fixed;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:blue;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #06b8ff;
}

/** Main section */
main {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

p.frase {
    color: rgb(207, 99, 10);
    font-size: 20px;
    text-align: center;
    margin-bottom: 150px;
    margin-top: 100px;

}

h1 {
    color:blue;
    text-align: center;
}



/** Footer */
footer {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
}

/** Blog page */
main section article {
    padding: 20px;
}

main section article:nth-child(odd) {
    background-color: #f5f5f5;
}

main section article:hover {
    background-color: #ececec;
    
}

.leia-mais {
    margin-top: 20px;
    text-align: center;
    display: block;
    width: 80px;
    background-color:blue;
    color: #FFFFFF;
    padding: 10px;
    text-decoration: none;
    border-radius: 6px;
}

.leia-mais:hover {
    background-color: #00ccff;
}

/** Contact page */
input,
textarea {
    margin-top: 10px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333333;
}

button {
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    padding: 15px;
    color: #333333;
}

input:hover,
textarea:hover {
    border: solid 2px #000000;
}

#mensagens {
    display: none;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

#fornecedores li:hover {
    background-color: #CCCCCC;
    cursor: pointer;
}

/* leia mais */

.content{
    display:block;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.imagem-content {
    display: flex;
    justify-content: center;
}

.imagem-content image{
    display: block;    
}
